<div class="row forum vertical-align{{#ifCond forum.featured true}} featured{{/ifCond}}">

  <div class="col-xs-9 col-sm-7 col-md-6">

    {{#ifCond forum.featured true}}
      <div class="featured-ribbon"><img src="/images/featuredRibbon.png"></div>
    {{/ifCond}}

    <h4><a href="/forum/{{forum.id}}">{{truncateString forum.title 40}}</a></h4>
    {{truncateString forum.description 320}}
  </div>

  <div class="hidden-xs hidden-sm col-md-2">
    <dl>
      <dt class="stats_number">{{forum.numTopics}}</dt>
      <dd class="stats_type">topics</dd>
    </dl>
    <dl>
      <dt class="stats_number">{{forum.numPosts}}</dt>
      <dd class="stats_type">posts</dd>
    </dl>
  </div>


  <div class="col-xs-3 col-sm-5 col-md-4">

    {{#if LastPost}}
      {{#with LastPost}}

        <div class="media">
          <div class="media-left">
            <a href="#">
              <img src="{{getGravatarUrl user.email}}" alt="image" class="media-object img-circle gravatar">
            </a>
          </div>
          <div class="media-body hidden-xs">
            <h4 class="media-heading"><a href="/topic/{{topicId}}#message-{{id}}">{{title}}</a> <br><small>by {{user.display_name}}</small> </h4>
            <small>{{formatRelative createdAt}}</small>
          </div>
        </div>

      {{/with}}
    {{else}}
      no posts
    {{/if}}

  </div>
</div>

