
<div class="row forum vertical-align">
  <div class="col-sm-1">
    <img src="/images/forum.png" alt="image" class="img-responsive img-circle">
  </div>
  <div class="col-sm-5">
    <h4><a href="/forum/{{forum.id}}">{{forum.title}}</a></h4>
    {{encodeMyString forum.description}}
  </div>
  <div class="col-sm-2">
    <dl>
      <dt class="stats_number">{{forum.numTopics}}</dt>
      <dd class="stats_type">topics</dd>
    </dl>
    <dl>
      <dt class="stats_number">{{forum.numPosts}}</dt>
      <dd class="stats_type">posts</dd>
    </dl>
  </div>
  <div class="col-sm-4">

    {{#if topics}}
      <img src="{{getGravatarUrl topics.0.user.email}}" alt="image" class="img-responsive img-circle gravatar pull-left">
      <p>{{topics.0.title}}</p>
      {{encodeMyString topics.0.description}}
      <p>{{topics.0.createdAt}}</p>
    {{/if}}

  </div>
</div>

