<div class="row topic vertical-align">
  <div class="col-sm-6">
    <h4><a href="/topic/{{topic.id}}">{{topic.title}}</a><br><small>by {{user.display_name}} {{formatRelative topic.createdAt}}</small></h4>

  </div>
  <div class="col-sm-2">

    {{#ifCond topic.featured true}}
      <p>{{topic.numPostsFeat}} answers</p>
    {{else}}
      <p>{{topic.numPosts}} answers</p>
    {{/ifCond}}

    <p>{{topic.topicViews}} views</p>

  </div>
  <div class="col-sm-4">

    {{#with topic.LastPost}}
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img src="{{getGravatarUrl user.email}}" alt="image" class="media-object img-circle gravatar">
          </a>
        </div>
        <div class="media-body">

            <h4 class="media-heading"><a href="/topic/{{topicId}}#message-{{id}}">{{truncateString message}}</a> <br><small>by {{user.display_name}}</small> </h4>
            <small>{{formatRelative createdAt}}</small>

        </div>
      </div>
    {{/with}}

  </div>
</div>
