
<ol class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="/forum">Forums</a></li>
  <li class="active">Some forum</li>
</ol>



<div class="page-header">

  <div class="row">
    <div class="col-xs-6"><h1>{{forum.title}}</h1>{{encodeMyString forum.description}}</div>
    <div class="col-xs-6">
      {{#if @root.data.user}}
        <span class="pull-right">
          {{#ifCond @root.data.user.profile 'admin'}}
            <button class="btn btn-default" type="button" data-toggle="modal" data-target="#newForumModal" data-title="New Subforum for {{forum.title}}" data-forum-id="{{forum.id}}">New Subforum <span class="glyphicon glyphicon-plus"></span></button>
          {{/ifCond}}
          <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#newTopicModal" data-title="New Topic for {{forum.title}}" data-forum-id="{{forum.id}}">New Topic <span class="glyphicon glyphicon-plus"></span></button>
        </span>
      {{/if}}
    </div>
  </div>

</div>







{{#if forum.subForums}}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sub Forums</h3>
        </div>
        <div class="panel-body">
          {{#each forum.subForums as |subforum| }}
            {{>subforum forum=subforum}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

{{/if}}



{{#if forum.featuredTopics}}
  <div class="row">

    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Featured topics</h3>
        </div>
        <div class="panel-body">

          {{#each forum.featuredTopics as |featuredTopic|}}
            {{>topic topic=featuredTopic}}
          {{/each}}

        </div>
      </div>
    </div>

  </div>
{{/if}}



{{#if forum.topics}}
  <div class="row">

    <div class="col-sm-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Topics</h3>
        </div>
        <div class="panel-body">

          {{#each forum.topics as |topic|}}
            {{>topic topic=topic}}
          {{/each}}

        </div>
      </div>
    </div>

  </div>
{{else}}
  <h3>No topics created yet</h3>
{{/if}}