

<div class="page-header">
  <h1>{{forum.title}}</h1>
  {{encodeMyString forum.description}}
</div>



<div class="row forum-toolbar">
  <div class="col-xs-8">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>

      </ul>
    </nav>

  </div>
  <div class="col-xs-4">

    <span class="pull-right">
      <button class="btn btn-default" type="button" data-toggle="modal" data-target="#newForumModal" data-title="New Subforum for {{forum.title}}" data-forum-id="{{forum.id}}">New Subforum <span class="glyphicon glyphicon-plus"></span></button>
      <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#newTopicModal" data-title="New Topic for {{forum.title}}" data-forum-id="{{forum.id}}">New Topic <span class="glyphicon glyphicon-plus"></span></button>
    </span>

  </div>
</div>



{{#if forum.subForums}}

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sub Forums</h3>
        </div>
        <div class="panel-body">
          {{#each forum.subForums as |subforum| }}
            {{>forum forum=subforum}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>

{{/if}}



{{#if forum.featuredTopics}}
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Featured topics</h3>
      </div>
      <div class="panel-body">

        {{#each forum.featuredTopics as |featuredTopic|}}
          {{>topic topic=featuredTopic}}
        {{/each}}

      </div>
    </div>
  </div>

</div>
{{/if}}



{{#if forum.topics}}
<div class="row">

  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Topics</h3>
      </div>
      <div class="panel-body">

        {{#each forum.topics as |topic|}}
          {{>topic topic=topic}}
        {{/each}}

      </div>
    </div>
  </div>

</div>
{{/if}}