
<div class="row">
  <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">



    <div class="panel panel-default">

      <div class="panel-heading">
        <h2>{{form.title}}</h2>
      </div>

      <div class="panel-body">

        <div class="stepper">

          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a class="persistant-disabled" href="#stepper-step-1" data-toggle="tab" aria-controls="stepper-step-1" role="tab" title="Step 1">
                <span class="round-tab">1</span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a class="persistant-disabled" href="#stepper-step-2" data-toggle="tab" aria-controls="stepper-step-2" role="tab" title="Step 2">
                <span class="round-tab">2</span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a class="persistant-disabled" href="#stepper-step-3" data-toggle="tab" aria-controls="stepper-step-3" role="tab" title="Step 3">
                <span class="round-tab">3</span>
              </a>
            </li>
            <li role="presentation" class="disabled">
              <a class="persistant-disabled" href="#stepper-step-4" data-toggle="tab" aria-controls="stepper-step-4" role="tab" title="Complete">
                <span class="round-tab">4</span>
              </a>
            </li>
          </ul>


          <form role="form" data-toggle="validator" action="{{form.action}}" method="{{form.method}}">

            <div class="tab-content">
              <div class="tab-pane fade in active" role="tabpanel" id="stepper-step-1">

                {{#if form.profile}}
                  <input type="hidden" name="profile" value="{{form.profile}}">
                {{else}}
                  <input type="hidden" name="profile" value="user">
                {{/if}}
                <input type="hidden" name="display_name" id="display_name" value="admin">

                <h2><small>1. Website configuration</small></h2>

                <hr class="colorgraph">



                <hr class="colorgraph">

                <div class="row">
                  <div class="col-md-6 pull-right">
                    <a class="btn btn-primary btn-block pull-right next-step">Next</a>
                  </div>
                </div>

              </div>




              <div class="tab-pane fade" role="tabpanel" id="stepper-step-2">

                <h2><small>2. Enter Admin user information</small></h2>

                <hr class="colorgraph">

                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="first_name" id="first_name" class="form-control input-lg" placeholder="First Name" tabindex="1" value="{{form.data.first_name}}" required>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="last_name" id="last_name" class="form-control input-lg" placeholder="Last Name" tabindex="2" value="{{form.data.last_name}}" required>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" tabindex="4" value="{{form.data.email}}" data-error="The email address is invalid" required>
                  <div class="help-block with-errors"></div>
                </div>

                <div class="row" id="pwd-container">
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" data-minlength="8" name="password" id="password" class="form-control input-lg" placeholder="Password" tabindex="5" required>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                      <input type="password" name="password_confirmation" id="password_confirmation" class="form-control input-lg" placeholder="Confirm Password" tabindex="6" data-match="#password" data-match-error="Whoops, these don't match" required>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>

                  <div class="col-md-12">
                    <div class="pwstrength_viewport_progress"></div>
                  </div>

                </div>

                <hr class="colorgraph">

                <div class="row">
                  <div class="col-md-6">
                    <a class="btn btn-default btn-block prev-step">Back</a>
                  </div>
                  <div class="col-md-6 pull-right">
                    <a class="btn btn-primary btn-block pull-right next-step">Next</a>
                  </div>
                </div>

              </div>




              <div class="tab-pane fade" role="tabpanel" id="stepper-step-3">

                <h2><small>3. Review and Submit Payment</small></h2>

                <p>This is step 3</p>

                <ul class="list-inline pull-right">
                  <li>
                    <a class="btn btn-default prev-step">Back</a>
                  </li>
                  <li>
                    <a class="btn btn-default cancel-stepper">Cancel Payment</a>
                  </li>
                  <li>
                    <a class="btn btn-primary next-step">Submit Payment</a>
                  </li>
                </ul>
              </div>




              <div class="tab-pane fade" role="tabpanel" id="stepper-step-4">

                <h2><small>4. All done!</small></h2>
                <p>You have successfully completed all steps.</p>

                <div class="row">
                  <div class="col-md-6"><a class="btn btn-default btn-block prev-step">Back</a></div>
                  <div class="col-md-6 pull-right"><input type="submit" value="Finish" class="btn btn-primary pull-right btn-block" tabindex="7"></div>
                </div>

              </div>


            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>