

<ol class="breadcrumb">
  <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
  <li><a href="/forum">Forums</a></li>
  <li><a href="/forum/{{topic.forum.id}}">{{topic.forum.title}}</a></li>
  <li class="active">{{topic.title}}</li>
</ol>


<div class="page-header topic">

  <div class="row">
    <div class="col-sm-6">
      <img src="{{getGravatarUrl topic.user.email}}" alt="image" class="img-responsive img-circle gravatar pull-left">
      <h3>{{topic.title}}<br><small>by {{topic.user.display_name}}, at {{formatDate topic.createdAt day="numeric" month="long" year="numeric"}} in {{topic.forum.title}}</small></h3>
    </div>
    <div class="col-sm-6">
      {{#if @root.data.user}}
        <span class="pull-right">
          <button class="btn btn-primary gotoMessageEditor">New Message <span class="glyphicon glyphicon-plus"></span></button>
        </span>
      {{/if}}

    </div>
  </div>

</div>




<div class="row">
  <div class="col-sm-12">

    {{#if topic.posts}}

      {{#each topic.posts as |post|}}
        {{>post post=post}}
      {{/each}}

    {{/if}}


    {{#if @root.data.user}}
      <div class="panel panel-default compose-message-box" id="newMessage">
        <div class="panel-body">

          <div class="col-sm-1">
            <img src="{{getGravatarUrl @root.data.user.email}}" alt="image" class="img-responsive img-circle gravatar pull-left">
          </div>

          <div class="col-sm-11">
            <form action="/post/new" method="post">
              <input type="hidden" name="topicId" value="{{topic.id}}">
              <textarea name="message" class="newTopicDescription" id="newPostMessage"></textarea>
              <br>
              <button type="submit" class="btn btn-primary pull-right">Post Message <span class="glyphicon glyphicon-send"></span></button>
            </form>
          </div>

        </div>
      </div>
    {{/if}}


  </div>
</div>

